/*-------------------
Style Sheet for {Project name and url}

author: {name}
email: {email}
website: {portfolio}
---------------------*/

/*
	Vendor imports (libs etc)
*/
@import 'vendor/normalize.css';
@import 'vendor/browserupgrade.css';

/*
	Our imports
*/
@import 'lib/nav.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


/*
	Colour Theme
*/

:root {
	--cream: #fef9ef;
	--red: #fe6d73;
	--yellow: #ffcb77;
	--green: #17c3b2;
	--darkerGreen: #10867b;
	--blue: #227c9d;
}


/*
	Generalized styles
*/

* {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--green);
	color: 	var(--cream);
	padding: 10%;
}

form {
	max-width: 500px;
	width: 80%;
	margin: auto;
	background-color: var(--red);
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 20px;
}

fieldset {
	display: inline;
	padding: 0;
	margin: 10px 0px 10px 0px;
	border: none;

}

fieldset > div {
	display: inline-block;
}

legend {
	font-weight:bold;

}

.fieldGroup {
	width: 100%;
}

#streetGroup {width: 100%;}
#postCodeGroup, #stateGroup {width: 22%;}
#cityGroup {
	width: 48%;
	margin-left: 2%; 
	margin-right: 2%;
}

label {
	color: white;
	margin: 10px 0px 3px 10px;
	display: block;
}

input[type=text], input[type=date], select {
	padding: 12px 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 20px;
}

  /* Style the submit button */
input[type=submit] {
	background-color: var(--green);
	color: white;
	padding: 14px 20px;
	margin: auto;
	margin-top: 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	display: inline;
	
 }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
	background-color: var(--darkerGreen);
  }